HTTP status codes

**Reported by @stefanb on 28 Oct 2003 12:51 UTC**
Section 10 of RFC 2616 defines error codes that a http server should return in
case of a problem:
http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

We should set the response status to 5xx (eg 500=Internal server error) in error
pages instead of current 2xx (200=OK) to comply with the standard. 

But there might be problem because IE hides the meaningful error messages with
his own "friendly HTTP error message", which is set to kick in by default on new
IE installations.

Migrated-From: http://trac.makumba.org/ticket/627

**Comment by @stefanb on 18 Apr 2007 08:28 UTC**
as it is now error pages are being served with status code 200 (=OK), and taken
as such by crawlers.

indexed by google:
http://www.google.com/search?q=%22Makumba+attribute+not+set+error%22
This opens Makumba up for Google hacking
http://en.wikipedia.org/wiki/Google_hacking 


**Comment by @rudolfmayer on 29 Aug 2007 11:41 UTC**
Stefan wrote this per email:

>Since bugzilla seems to be down i'll write it here to not forget it...
>
>It might help inserting a meta tag into the head section of the error pages:
><META NAME="ROBOTS" CONTENT="NOINDEX">
>
>greets,
>Stefan

**Modified by @manuelbernhardt on 26 Jun 2010 17:05 UTC**

**Modified by @manuelbernhardt on 28 Jun 2010 07:36 UTC**